<main class="about-main">
	<h2 class="header-about">This page will describe my app!</h2>
	<p>Lorem ipsum dolor sit amet, vim ei tritani apeirian, suas aliquam ea vel. Eu pro tota paulo euripidis, diam dicam mediocrem vel at, erat graece eum in. Nam an odio mundi oblique, putent possim sed ei. Vel magna fuisset an, amet esse ex his.<br><br>
  Sed ad dico platonem persecuti. Ea etiam insolens repudiare usu, minimum menandri prodesset at mel. Nonumy ridens eligendi ut quo, ea vim habemus efficiantur. Te tale malis graecis cum, at vim dicit scripserit, usu eleifend molestiae theophrastus in. Omnis omnes nemore eam an, ei antiopam intellegam vel.<br><br>
  vim ei tritani apeirian, suas aliquam ea vel. Eu pro tota paulo euripidis, diam dicam mediocrem vel at, erat graece eum in. Nam an odio mundi oblique, putent possim sed ei. Vel magna fuisset an, amet esse ex his. Sed ad dico platonem persecuti. Ea etiam insolens repudiare usu, minimum menandri prodesset at mel. Nonumy ridens eligendi ut quo<br><br>
  Dico platonem persecuti. Ea etiam insolens repudiare usu, minimum menandri prodesset at mel. Nonumy ridens eligendi ut quo, ea vim habemus efficiantur. Te tale malis graecis cum, at vim dicit scripserit, usu eleifend molestiae theophrastus in. Omnis omnes nemore eam an, ei antiopam.<br><br>
  Ea etiam insolens repudiare usu, minimum menandri prodesset at mel. Nonumy ridens eligendi ut quo, ea vim habemus efficiantur. Te tale malis graecis cum, at vim dicit scripserit, usu eleifend molestiae theophrastus in. Omnis omnes nemore eam an, ei antiopam
	</p>
</main>