<main class="about-main">
	<h2 class="header-about">About</h2>
	<p>Red and Black Books is a demo E-commerce application. Users are able to register an account, allowing them to leave comments and reviews of products. An admin function can also be delegated to a user, enabling them to access the full CRUD functionality of products controller. This allows admins to add, edit and delete products from the PostgreSQL database. AJAX and caching are also included to reduce database requests and improve response times of many features.
	</p>
</main>