
<main class="contact-main">
	<h2>Contact Us</h2>
	<ul>
		<li>Email: johnsmith@email.com</li>
		<li>Address: 101 Smith Street, Berlin</li>
		<li>Tel: 010334343434</li>
	</ul><br>

<%= render 'simple_pages/thank_you' %>

</main>
