

<main class="index-main">
	<div class="product">
		<%= image_tag("krop-book.jpg", class: "img-reponsive book", size: "200") %>
	</div>
	<div class="product">
		<%= image_tag("dispossessed.jpg", class: "img-reponsive book", size: "200") %> 
	</div>
	<div class="product">
		<%= image_tag("homage.jpg", class: "img-reponsive book", size: "200") %>
	</div>
	<div class="product">
		<%= image_tag("direct-action.jpg", class: "img-reponsive book", size: "200") %>
	</div>
</main>