body {
	width: auto;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: white;


}

.wrapper {
	width: 70%;
	margin: 0 auto;

}

.grid-wrapper {
}

header {
	
}

.product {
	position: relative;
	width: 275px;
	height: 390px;
	border: 1px solid black;
	margin: 20px 50px 15px 0;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	font-weight: 100;
}

.product:nth-child(3n) {
	margin-right: 0;
}

.product-name {
	float: left;
	width: 100%;
	font-size: 0.3em;
	margin: 0 10px;
}

.product-price {
	float: right;
	margin: 10px;
}

.product-image {
	float: left;
	width: 130px;
	height: 170px;
	margin: 12px;
	border: 1px solid black;
}

.product-description {
	position: absolute;
	top: 270px;
	left: 15px;
	margin: 12px;
	
}