
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	font-family: "montserrat", arial;
	font-weight: 700;
	padding-bottom: 8em;
	background-color: #424242;
}

h1 {
	font-size: 3.2em;
	color: white;
}

.header {
	max-width: 500px;
	text-align: center;
	padding: 0.5em;
	margin: 0.5em auto;
}

.footer-text {
	margin: 10px auto;
	width: 200px;
	padding-top: 0.7em;
}

#footer {
	position: absolute;
	bottom: -6em;
	left: 0;
	width: 100%;
	height: 4em;
	background-color: rgba(217, 39, 39, 1);
	border-top: 1px solid black;
	margin-top: 4em;
}

.btn {
	border: 2px solid rgba(217, 39, 39, 1);
	background-color: #343434;
	color: white;
	font-weight: 900;
	margin: 10px;
}

.btn:hover {
	background-color: rgba(217, 39, 39, 1);
	color: white;
	border: 2px solid #343434;
	transition: 300ms;
}

.index-main {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	min-height: 380px;
}

.book {
	width: 200px;
	height: auto;
	box-shadow: 5px 5px 10px #555555;
	margin-bottom: 25px;
}

.contact-main {
	width: 30%;
	height: 360px;
	margin: 80px auto;
	text-align: center;
}

.contact-main ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.about-main{
	width: 70%;
	height: auto;
	padding: 10px 20px;
	margin: 10px auto;	
}

.header-about {
	text-align: center;
	padding: 0.5em;
	margin: 0 0 0.5em 0;
}

// THANK YOU PAGE 

.panel .thankyou {
	color: black;
	text-align: center;
}

// FORMS

.general-form {
	margin: 0 auto;
	width: 25%;
}

input .form-control {
	padding: 10px;
	color: black;
}

.general-form .btn-product {
	margin-left: 0;
}

// SHOWS

.show-wrapper {
	width: 50%;
	margin: 0 auto;
}

// CAROUSEL

.carousel-inner .item img {
	margin: 0 auto;
}

// DESTROY

.destroy-product {
	position: absolute;
	bottom: 0;
	left: 5px;
}

// NOTICEs

#notice {
	text-align: center;
	padding: 2em;
	font-size: 1.7em;
	color: #fff;
	font-style: italic;
	font-weight: 100;
}


