<p id="notice"><%= notice %></p>
<main class="wrapper">
  <header>
    <h2>Products</h2>
  </header>
  
  <div class="container-fluid">
    <div class="row">
        <%= render @products %> 
    </div> <!-- end of row -->
  </div> <!-- end of container -->
  
</main>




