
<main class="wrapper">
  <header>
    <h2>Products</h2>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <% if @products.count > 0 %>
          <% cache(cache_key_for_products) do %>
              <%  @products.each do |product| %>
                  <%= render product %>
                <% end %>
            <% end %>
          <% else %>
            <br><b> No Products Found</b> <br>
          <% end %>
    </div> <!-- end of row -->
  </div> <!-- end of container -->
  
</main>

